/*top*/
.top{
    position: relative;
    width: 100%;
    height: 83px;
    background-color: #000000;
    color: #D1A646;
    font-size: 16px;
}
.top-back{
    position: absolute;
    left: 17px;
    top: 34px;
}
.top-close{
    position: absolute;
    left: 75px;
    top: 34px;
}
.top-name{
    position: absolute;
    left: 42%;
    top: 34px;
    font-size: 18px;
}
.top-more{
    position: absolute;
    right: 49px;
    top: 34px;
}
/*title*/
.title{
    text-align: center;
    padding: 12px 0px;
}
.icon-title{
    width: 74px;
    height: 17px;
}
.title-name{
    padding: 0px 34px;
}
/*banner*/
.banner-item{
    width: 35%;
    margin: 0px 0px 10px 10px;
    height:80px;
    float: left;
    position: relative;
}
.banner-item-img{
    width:100%;
    height:100%;
}
.banner-item-title{
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 12px;
    background:rgba(0,0,0,1);
    opacity:0.63;
    color: #ffffff;
    height: 24px;
    width: 100%;
    line-height: 24px;
    text-align: center;
}